extends base.pug

block content
    div.protectview
        div.protectview__top
            i.fa-regular.fa-square-plus
            div 좋아하는 영상을 업로드해 보세요. 
            div 영상을 업로드하려면 로그인하세요.
        a(href="/login")
            div.protectview__login
                i.fa-regular.fa-circle-user
                    span 로그인