div.sidebar
    nav
        ul
            a(href="/").sidebar__link
                li.sidebar__li
                        i.fa-solid.fa-house
                        div 홈
                a(href="/videos/upload").sidebar__link
                    li.sidebar__li
                        i.fa-regular.fa-square-plus
                        div 업로드
            